.media-object {
    border-radius: 25px;
    padding: 20px;
    width: 150px;
    height: 150px;
}
.catagories-img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-top:10px;
  margin-bottom:10px;
}
.thumbnail .caption {
    padding: 9px;
    min-height: 20%;
    color: #333;
    text-align:center;
    vertical-align: middle;
}


.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
