/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #006064;
    color: #fff;
}

.stable td {
    border-top: none !important;
}

#footer p {}


/*      UPLOAD CSS      */

#image-preview {
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    background-color: #eee;
    color: #ecf0f1;
}

#image-preview input {
    line-height: 200px;
    font-size: 15px;
    position: absolute;
    opacity: 0;
    z-index: 10;
}

#image-preview label {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    background-color: #bdc3c7;
    width: 120px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        margin: 0px;
        padding: 0px;
        margin-left: -35px;
    }
}

.funkyradio div {
    clear: both;
    overflow: hidden;
}

.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty~label, .funkyradio input[type="checkbox"]:empty~label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio input[type="radio"]:empty~label:before, .funkyradio input[type="checkbox"]:empty~label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label, .funkyradio input[type="checkbox"]:hover:not(:checked)~label {
    color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label:before, .funkyradio input[type="checkbox"]:hover:not(:checked)~label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked~label, .funkyradio input[type="checkbox"]:checked~label {
    color: #777;
}

.funkyradio input[type="radio"]:checked~label:before, .funkyradio input[type="checkbox"]:checked~label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio input[type="radio"]:focus~label:before, .funkyradio input[type="checkbox"]:focus~label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked~label:before, .funkyradio-default input[type="checkbox"]:checked~label:before {
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked~label:before, .funkyradio-primary input[type="checkbox"]:checked~label:before {
    color: #fff;
    background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked~label:before, .funkyradio-success input[type="checkbox"]:checked~label:before {
    color: #fff;
    background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked~label:before, .funkyradio-danger input[type="checkbox"]:checked~label:before {
    color: #fff;
    background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked~label:before, .funkyradio-warning input[type="checkbox"]:checked~label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked~label:before, .funkyradio-info input[type="checkbox"]:checked~label:before {
    color: #fff;
    background-color: #5bc0de;
}

.sec {
    padding-top: 30px;
    min-height: 350px;
    border-bottom: 1px solid #ddd;
}

.sec_button {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

#main {
    margin-top: 50px;
    padding: 50px;
}

.navbar {
    background: none;
    font-family: Muli;
    font-weight: 400;
}

.past-main {
    background: rgba(255, 255, 255, 0.95);
}

h1, h2, h3 {
    font-family: Montserrat;
    color: #00838f;
}

p {
    font-family: Muli;
    font-weight: 300;
}

.mainop {
    font-size: 30px;
    font-family: Muli;
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

.introtext {
    color: #fff;
    font-size: 20px;
}

.mainop:hover {
    background: #fff;
    color: #006064;
    border: 2px solid #fff;
}

.threecols {
    margin: 0px auto;
    min-height: 300px;
    padding-bottom: 50px;
}

.threecols [class*='col-']:not(:last-child):after {
    background: #4DD0E1;
    opacity: 0.4;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}

.colheader {
    padding: 12px;
    background: #E0F7FA;
    color: #00838f;
    border-bottom: 1px solid #ddd;
    border-radius: 3px 3px 0px 0px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    font-family: Montserrat;
}

.colbox {
    background: #fefefe;
    border-radius: 4px;
    min-height: 410px;
    transition: 0.3s linear;
}

.colbox:hover {
    background: #E0F7FA;
    transition: 0.3s linear;
    box-shadow: 0px 0px 11px -6px #000;
}

.colbody {
    padding: 12px;
    font-family: Muli;
}

.fbox {
    background: #EF5350;
    padding: 5px 15px 15px 15px;
    margin: 0px 10px 5px 0px;
    color: white;
    border-radius: 3px;
    font-family: Muli;
}

.fbox:hover {
    box-shadow: 0px 3px 10px -3px #000;
}


/* Portrait phones and smaller */

@media (max-width: 1000px) {
    #main {
        padding: 25px;
    }
    .threecols {
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 0px auto;
    }
    .colsecond {
        margin-top: 15px;
    }
    .colthird {
        margin-top: 15px;
    }
    .navbar {
        background: rgba(255, 255, 255, 0.95);
    }
    .threecols [class*='col-']:not(:last-child):after {
        background: #fff;
    }
    .organization {
        min-height: 230px !important;
        font-size: 13px;
    }
    .organization .orgname {
        font-size: 15px;
    }
    .organization .place {
        font-size: 12px;
    }
}


/* WHAT YOU NEED */

.fading-side-menu.affix-top {
    opacity: 1;
    transition: opacity 0.3s
}

.fading-side-menu.affix {
    top: 65px;
}

.fading-side-menu.affix {
    opacity: 0.2;
    transition: opacity 1.5s
}

.fading-side-menu.affix:hover {
    opacity: 1;
    transition: opacity 0.3s
}


/* RECOMMENDED STYLING BUT NOT REQUIRED */

.fading-side-menu a {
    color: rgb(102, 102, 102);
}

.fading-side-menu a .fa {
    padding-right: 15px;
}

.quote {
    color: rgba(0, 0, 0, .1);
    text-align: center;
    margin-bottom: 30px;
}


/*-------------------------------*/


/*    Carousel Fade Transition   */


/*-------------------------------*/

#fade-quote-carousel.carousel {
    padding-bottom: 60px;
}

#fade-quote-carousel.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-indicators {
    bottom: 10px;
}

#fade-quote-carousel.carousel .carousel-indicators>li {
    background-color: #e84a64;
    border: none;
}

#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}

#fade-quote-carousel .profile-circle {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    border-radius: 100px;
}

//----------------------------------------- ORGANIZATION -------------------------------------------------
img.thumb {
    width: 70px !important;
    height: 70px !important;
    border-radius: 4px !important;
}

.organization {
    position: relative;
    margin: 0px 5px 30px 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    min-height: 220px;
    font-family: Muli;
}

.organization .tag_icon {
    width: 30px;
    height: 30px;
}

.organization:hover {
    background: #cbf1f2;
}

.cityfilter {
    display: block;
}

.affix {
    position: sticky;
}

.orgname {
    font-size: 18px;
    font-family: Montserrat;
}

.place {
    margin-top: -12px;
}

.btnmore {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.verilabel {
    padding: 7px;
    font-size: 12px;
    border: 1px solid #999;
}

#noresults {
    display: block;
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}


/* ------------------ WALL OF FAME ----------------- */

.putname {
    background: #EF5350;
    border-bottom: 0px;
    min-height: 150px;
    text-align: center;
}

.putname h3, .putname h4, .putname h4 a {
    color: #fff;
    font-family: Montserrat;
}

.putname h4 a {
    padding-bottom: 10px;
    text-decoration: none;
    border-bottom: 1px solid #EF5350;
    transition: 0.1s linear;
}

.putname h4 a:hover {
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    transition: 0.1s linear;
}

.memberbox {
    margin: 20px 5px;
    height: 300px;
    background: #EDFEFF;
    box-shadow: 0px 2px 7px -4px #000;
    transition: 0.1s linear;
    backface-visibility: hidden;
    border-radius: 3px;
    border: none;
    overflow: hidden;
}

.memberbox:hover {
    box-shadow: 0px 2px 7px -1px #000;
    transition: 0.1s linear;
    border: none;
    backface-visibility: hidden;
}

.memberbox:hover .mphotohover {
    opacity: 0.9;
    transition: 0.1s linear;
    backface-visibility: hidden;
}

.memberphoto {
    height: 200px;
    background: #fff;
    box-sizing: border-box;
    backface-visibility: hidden;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0px;
    transition: 0.1s linear;
}

.mphotohover {
    width: 100%;
    height: 100%;
    margin: 0px;
    backface-visibility: hidden;
    padding: 0px;
    border-radius: 3px 3px 0px 0px;
    opacity: 0;
    display: block;
    background: #333;
    transition: 0.1s linear;
}

.mphotohover img {
    width: 75px;
    display: block;
    position: absolute;
    top: 33%;
    backface-visibility: hidden;
    left: 35%;
}

.membername {
    background: #00838F;
    padding: 18px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: Raleway;
}

.membercontributions {
    background: #006f79;
    padding: 12px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-family: Muli;
}

.wallback {
    background-color: #1a222f;
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.wallback h1, .wallback h2 {
    text-align: center;
    color: #fff;
}

.wallback h2 {
    font-family: Raleway;
}


/*--------------- BUTTONS -------------------- */

.fillbtn {
    background: #EF5350;
    color: #fff;
    border: 2px solid #EF5350;
    padding: 20px;
    font-family: Montserrat;
    margin: 10px 20px;
    transition: 0.2s linear;
    width: 275px;
}

.fillbtn:hover {
    background: #FFF;
    border: 2px solid #EF5350;
    color: #333;
    transition: 0.2s linear;
}

.strokebtn {
    background: #FFF;
    border: 2px solid #EF5350;
    color: #333;
    padding: 20px;
    font-family: Montserrat;
    margin: 10px 20px;
    transition: 0.2s linear;
    width: 275px;
}

.strokebtn:hover {
    background: #EF5350;
    color: #fff;
    border: 2px solid #EF5350;
    transition: 0.2s linear;
}


/* -------------- SPECIAL LINK ---------------- */

a.link_wall, .link_wall:hover, a.link_wall:visited {
    background: #EF5350 !important;
    color: #fff !important;
    padding: 7px !important;
    margin: 8px !important;
    border-radius: 3px;
}


/* -------------- SPECIAL LINK ---------------- */

a.link_wall, .link_wall:hover, a.link_wall:visited {
    background: #EF5350 !important;
    color: #fff !important;
    padding: 7px !important;
    margin: 8px !important;
    border-radius: 3px;
}


/*----img rounded-----*/

.img-circle {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    border: 1.5px solid #006064;
    border-radius: 50%;
}
